


<div class="row">
    <div class="col-md-12">
        <md-card style="box-shadow: 5px 5px 5px 5px transparent;">
            <md-card-content>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="text-align: center">Index</th>
                        <th style="text-align: center">Image</th>
                        <th style="text-align: center">Product</th>
                        <th style="text-align: center">Quantity</th>
                        <th style="text-align: center">Price</th>
                        <th style="text-align: center">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in checkout.items">
                        <td style=" width:5%;   ">{{$index }}</td>
                        <td style=" width:5%;  ">
                            <img style=" width:35%;  "   ng-src="./BookStoreImages/{{data.imagee}}"></td>

                        <td style=" text-align: center; width:5%;  ">{{data.productName}}</td>
                        <td style=" width:5%; text-align: center;   ">{{data.quantity }}</td>
                        <td style=" width:5%; text-align: center;   ">{{data.pricee }}</td>

                        <td  ng-click="checkout.showConfirm($index)"  style=" width:5%; text-align: center; ">Delete</td>
                    </tr>

                    </tbody>
                </table>
            </md-card-content>

        </md-card>

    </div>
</div>
<div class="row">
<div class="col-md-6">.</div>
    <div class="col-md-2">
        <div class="row" ng-if="checkout.user">


            <md-card style="box-shadow: 5px 5px 5px 5px transparent;">

                <md-button ng-click="checkout.saveuserData()"  class="md-raised md-warn">Save Cart Data</md-button>

            </md-card>


        </div>

    </div>
    <div class="col-md-2">
        <div class="row">


                <md-card style="box-shadow: 5px 5px 5px 5px transparent;">

                        <md-button ng-click="checkout.getuserInfo('/users')"  class="md-raised md-warn">CheckOut</md-button>

                </md-card>


        </div>

    </div>
</div>